.about-section {
    padding: 0rem 2rem;
    background-color: var(--background);
    color: var(--foreground);
    max-width: 1100px;
    margin: 0 auto;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0.75rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(90deg, #ffddea, var(--colortheme), #f80f49, #ffddea, #ff35b2, #f80f55, #ffddea); */
    background-size: 400% 100%;
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flowing-gradient 15s linear infinite; */
}

.about-description {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #cfcfcf;
}

.education-title{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.education-details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.2rem;
  align-items: center;
}

.education-card {
  border: 1.5px solid #ffffff33;
  border-radius: 8px;
  /* box-shadow: 0 2px 16px 0 rgba(255, 53, 114, 0.01); */
  padding: 1.2rem 2rem;
  transition: 
    box-shadow 0.3s,
    border-color 0.3s,
    transform 0.3s;
  text-align: left;
    height: auto;
    width: 70%;
}

.education-card:hover {
  box-shadow: 0 6px 32px 0 rgba(var(--colortheme-rgb), 0.06);
  border-color: var(--colortheme);
  transform: translateY(-4px) scale(1.01);
}


.edu-school {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--colortheme);
  margin-bottom: 0.3rem;
}
.edu-degree {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 0.3rem;
}

.edu-year {
  font-size: 0.85rem;
  color: var(--colortheme);
    margin-bottom: 0.3rem;

}
.edu-details{
    font-size: 0.9rem;
}

@media (max-width: 768px) {
.education-card {
    width: 100%;

}
}